*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Barlow";
    font-weight: 600;
}
.html{
    margin: 0%;
}

.section_1{
    margin: 0px;
    display: inline-block;
    width:100%;
    height: 100vh;
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.header_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: 25px;
}
.nav_bar_1 a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    float: left;
    padding: 25px;
    font-size: 15px;
}
.contacts_btn{
    width: 140px;
    display: inline-block;
    border-radius: 50px;
    border-color: white;
    border: white;
    background-color: white;
    font-family: "Fraunces";
    text-transform: uppercase;
    margin-top: 10px;
    padding: 15px;
    font-size: 15px;
}
.title_1{
    font-family: "Barlow";
    font-weight: 700;
    margin-left: 50px;
}
.text_1{
   text-align: center;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.section_2{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(3,2fr);
    /*height: 800px;*/
    width: 100%;
    padding: 0;
} 



/*.section_2 img{
    object-fit: contain;
}*/
.content{
    padding: 150px;
}
.box_title{
   padding-bottom: 50px;
   font-family: "Fraunces";
   font-weight: 900;
   font-size: 40px;
   color: hsl(212, 27%, 19%);
}
.box_txt{
   padding-bottom: 50px;
   color: hsl(212, 27%, 19%);
   font-weight: 600;
   opacity: 0.5;
}
.learn_btn{
    border-radius: 20px;
    border-color: white;
    border: white;
    background-color: white;
    font-family: "Fraunces";
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline 8px ;
    text-decoration-color: pink;
    color: hsl(212, 27%, 19%);
    cursor: pointer;
}
.cntnt {
    position: absolute;
    bottom: -1600px;
    
}
.cntnt .img_title{
   margin-bottom: 50px;
   padding-left: 253px;
   font-family: "Lora";
   font-weight: 700;
   text-transform: capitalize;
   color: hsl(212, 27%, 19%);
}
.cntnt .img_txt{
    padding-left: 192px;
    margin-bottom: -150px;
    width: 537px;
    color: hsl(212, 27%, 19%);
    font-weight: 600;
    text-align: center;
}
.section_3{
    /*display: flex;*/
    height: 100vh;
    width: 100%;}
.tests{
    display: flex;
    gap: 30px;
    margin: 150px;
    align-items: center;
    justify-content: space-between;
}
.test_1 {
    padding: 20px;
}
.title_3{
    margin: 100px;
    text-align: center;
    letter-spacing: 8px;
    font-family: "Lora";
   font-weight: 700;
   text-transform: uppercase;
   color: hsl(212, 27%, 19%);
   opacity: 0.6;
}
.profile{
    border-radius: 50%;
    margin-left: 100px;
}
.test_text{
    padding: 20px;
    text-align: center;
    width: 350px;
}
.test_text p{
    padding-bottom: 50px;
    color: hsl(212, 27%, 19%);
    font-weight: 600;
    opacity: 0.8;
    padding-top: 50px;
}

.test_text h1{
    font-family: "Lora";
   font-weight: 800;
   text-transform: capitalize;
   color: hsl(212, 27%, 19%);
   font-size: 25px;
}
.test_text h4{
    color: hsl(212, 27%, 19%);
    font-weight: 600;
    opacity: 0.5;
}
.section_4{
    display: flex;
}
.section_4 img{
    width: 100%;
}
.section_5{
    width: 100%;
    height: 60vh;
    background-color:rgb(132, 220, 223) ;
    text-align: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.row_1{
    font-family: "Barlow";
    font-weight: 800;
    color: rgb(40, 100, 102);
   
}
.row_2 a{
    text-decoration: none;
    padding: 30px;
    color: rgb(40, 100, 102);
    cursor: pointer;
    text-transform: capitalize;
}
.row_3 .icons a{
    padding: 15px;
    color: rgb(16, 42, 43);
    font-size: 20px;
    text-decoration: none;
    opacity: 0.7;
    font-size: 25px;
}


